@use './reset';

body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: transparent;
    }
}

html {
    scrollbar-width: none;
}

@supports (-ms-overflow-style: none) {
    html {
        -ms-overflow-style: none;
    }
}

.container {
    width: 100%;
    max-width: 1342px;
    margin: 0 auto;
    padding: 0 16px;
    height: auto;
    @media (max-width: 1024px) {
        width: 100%;
        padding: 0 12px;
    }
}